body{
    background-image: linear-gradient(to left,#ff5722,#ff9800);
    overflow:auto
    
}

.footer_pm{
	margin-top: 30px;
}

header.col a{
    background: #f7f7f7;
    border-radius: 5px;
}

.sectionpm{
	padding: 15px;
	margin: 15px;
}
