body {
    background-image: linear-gradient(to left, #ff5722, #ff9800);
    overflow: hidden;
}

button{
    width: 100%;
    border-radius: 10px;
}

.container{
    margin-bottom: 20px;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.nav-links{
    font-size: 20px;
    font-weight: 800;
    color:black;
}

.nav-links:hover{
    color:  #ff5722;
}

.categories .col a{
    background: #f7f7f7;
    border-radius: 5px;
}

#myCarousel{
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.carousel-item{
    padding-bottom: 70px;
}

.btn{
    background: #ff5722;
    border: #ff5722;
}

.btn:hover{
    background: #ff9800;
}

.bestsellers {
    margin-top: 10px;
}

.card{
    margin-top: 20px;
    background: #f7f7f7;
}

@media screen and (max-width: 650px) {
    .bestsellers{
        flex-direction: column;
    }
}