body{
    background-image: linear-gradient(to left,#ff5722,#ff9800);
    
    font-size: 20px;
}
.sectionfilter
{
	text-align: center;
	padding: 25px;
}

.filters{
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.paging_lr{
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.products_list{
	border-radius: 10px;
	padding: 5px;
}

.keep_distance{
	padding: 5px;
}

.nav-links{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    color:black;
}

.nav-links:hover{
    color:  #ff5722;
}

header .col a{
    background: #f7f7f7;
    border-radius: 5px;
}

.buybtn {
	align-items: flex-end;
	display: block;
}

.footer_pm{
	margin-top: 30px;
}

img{
	max-width: 100%;
	max-height: auto;
}


