<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Product detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/prod_det_style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg justify-content-around">
        <div class="container d-flex justify-content-around">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-8">
                  <li class="nav-item nav-items bg-light">
                    <a class="nav-link nav-links" href="#">športová výživa</a>
                  </li>
                  <li class="nav-item nav-items bg-light">
                    <a class="nav-link nav-links" href="#">športové oblečenie</a>
                  </li>
                  <li class="nav-item nav-items bg-light">
                    <a class="nav-link nav-links" href="#">príslušenstvo</a>
                  </li>
                  <li class="nav-item nav-items bg-light">
                    <a class="nav-link nav-links" href="#">zdravé potraviny</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </nav>
    </header>

      <div class="main_product">
        <div class="row">
          <div class="col1">
            <div class="main_foto">
              <img src="/images/img1.png">
            </div>
            <div class="small_fotos_row">
              <div class="small_foto">
                <img src="../images/img2.png" width=80%">
              </div>
              <div class="small_foto">
                <img src="../images/img3.png" width="80%">
              </div>
              <div class="small_foto">
                <img src="../images/img4.png" width="80%">
              </div>
              <div class="small_foto">
                <img src="../images/img1.png" width="75%">
              </div>
            </div>

          </div>
          <div class="col2">
            <div class="reviews">
              <img src="../images/star.jpg" width="4%">
              <img src="../images/star.jpg" width="4%">
              <img src="../images/star.jpg" width="4%">
              <img src="../images/star.jpg" width="4%">
              <img src="../images/star.jpg" width="4%">
              <p>98% (298) </p>
            </div>
            <h1 class="text">
              Proteín 100% Whey Gold Standard
            </h1>
            <h3>
              Výrobca: <a href="#">Optimum Nutrition</a>
            </h3>
            <p class="text">
              Proteín 100 % Whey Gold Standard obsahuje funkčnú kombináciu srvátkového izolátu,
              koncentrátu a hydrolyzátu.
              Má priaznivé aminokyselinové spektrum, vyniká rýchlou vstrebateľnosťou a navyše sa pýši dokonale chuťou.
            </p>
            <div class="stock_info">
              <p>Skladom v predajni</p>
            </div>
            <div class="options">
              <div class="variations">
                <p>príchuť:</p>
                <select  name="príchuť">
                  <option value="0">príchuť</option>
                  <option value="1">Čokoláda</option>
                  <option value="2">Vanilka</option>
                  <option value="3">Banán</option>
                </select>
              </div>
              <div class="mnozstvo">
                <p>množstvo:</p>
                <div class="col-2  d-flex flex-wrap mt-md-3">
                  <div>
                    <button class="amount">
                      <i class="fa-sharp fa fa-plus fs-1 "></i>
                    </button>
                    <span class="bg-secondary p-2 ">1</span>
                    <button class="amount">
                      <i class="fa-sharp fa fa-minus fs-1 "></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <h2>
              29.99€
            </h2>
            <div class="add">
              <a href="" class="btn">
                Pridať do košíka
              </a>
            </div>

          </div>

        </div>

        <div class="container">
          <h2 class="title">
            Zákazníci tiež zakúpili
          </h2>
          <div class="row2">
            <div class="col3">
              <img src="../images/img1.png" width="80%">
              <h4>
                Whey Protein
              </h4>
              <p>49.90€</p>
            </div>
            <div class="col3">
              <img src="../images/img1.png" width="80%">
              <h4>
                Whey Protein
              </h4>
              <p>49.90€</p>
            </div>
            <div class="col3">
              <img src="../images/img1.png" width="80%">
              <h4>
                Whey Protein
              </h4>
              <p>49.90€</p>
            </div>
            <div class="col3">
              <img src="../images/img1.png" width="80%">
              <h4>
                Whey Protein
              </h4>
              <p>49.90€</p>
            </div>
          </div>
        </div>

      </div>


    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>